ul {
  padding-left: 20px;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  align-self: stretch;
  border: 1px solid var(--border-light);
  background: var(--bg-light);
  border-radius: 12px;
  padding: 10px;
  width: 180px;
  transition: 0.2s ease-in-out 0s;
}

.card:hover {
  box-shadow: var(--elevation);
}
