ul {
  padding-left: 20px;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  align-self: stretch;
  border: 1px solid #cac4d0;
  background: #fef7ff;
  border-radius: 12px;
  padding: 10px;
  width: 180px;
}
